## Imports

In [1]:
import pandas as pd
import numpy as np
import os

## Laoding datasets

In [2]:
df_web = pd.read_csv("data/raw/web_scrapping_no_null.csv")
df_api = pd.read_csv("data/raw/books_api_scraped_no_null.csv")

print("df_web:", df_web.shape)
print("df_api:", df_api.shape)

df_web: (500, 6)
df_api: (545, 6)

In [3]:
df_web.isna().sum()

title           0
author          0
cover_url       0
publish_date    0
language        0
subjects        0
dtype: int64

In [4]:
df_api.isna().sum()

title             0
author            0
published_year    0
subject           0
language          0
cover             0
dtype: int64

In [5]:
print("df_web columns:")
print(df_web.columns.tolist())

print("\ndf_api columns:")
print(df_api.columns.tolist())

df_web columns:
['title', 'author', 'cover_url', 'publish_date', 'language', 'subjects']

df_api columns:
['title', 'author', 'published_year', 'subject', 'language', 'cover']

In [6]:
df_web = df_web.rename(columns={
    "publish_date": "published_year",
    "cover_url": "cover",
})

In [7]:
df_api = df_api.rename(columns={
    "subject": "subjects",
})

In [8]:
print("df_web columns:")
print(df_web.columns.tolist())

print("\ndf_api columns:")
print(df_api.columns.tolist())

df_web columns:
['title', 'author', 'cover', 'published_year', 'language', 'subjects']

df_api columns:
['title', 'author', 'published_year', 'subjects', 'language', 'cover']

In [9]:
#Checking
target_columns = [
    "title",
    "author",
    "published_year",
    "language",
    "subjects",
    "cover",
]

for col in target_columns:
    if col not in df_web.columns:
        df_web[col] = pd.NA
    if col not in df_api.columns:
        df_api[col] = pd.NA

In [10]:
df_web = df_web[target_columns]
df_api = df_api[target_columns]

In [11]:
print(df_web.columns.tolist())
print(df_api.columns.tolist())

df_web.head()

['title', 'author', 'published_year', 'language', 'subjects', 'cover']
['title', 'author', 'published_year', 'language', 'subjects', 'cover']

,title,author,published_year,language,subjects,cover
0,politics of literary prestige: prizes and span...,sarah e. l. bowskill,2022,english,"spanish american literature, awards, political...",https://openlibrary.org/images/icons/avatar_bo...
1,symposium städtebau revisited: preise - praxis...,christina simon-philipp,2022,german,"city planning, congresses, awards, german arch...",https://openlibrary.org/images/icons/avatar_bo...
2,ntaa 2022 - new technological art award 2022: ...,haseeb ahmed,2022,english,"art and technology, exhibitions, art, awards, ...",https://openlibrary.org/images/icons/avatar_bo...
3,"deutsche bank ""artists of the year"" 2021: maxw...",maxwell alexandre,2022,english,"modern art, exhibitions, art, awards, maxwell ...",https://openlibrary.org/images/icons/avatar_bo...
4,"maxxi bulgari prize 2022: alessandra ferrini, ...",giulia ferracci,2022,italian,"maxxi bulgari prize, exhibitions, art, awards,...",https://openlibrary.org/images/icons/avatar_bo...

In [12]:
df_api.head()

,title,author,published_year,language,subjects,cover
0,"Les Prix de Vertu, fondés par M. de Montyon",Frédéric Lock,1876,fre,"Montyon, Antoine-Jean-Baptiste-Robert Auget, b...",https://covers.openlibrary.org/b/id/6324499-L.jpg
1,Teachers With Class... True Stories Of Great T...,"Marsha Serling Goldberg, Sonia Feldman",March 2003,eng,"Teaching, Teacher-student relationships, Educa...",https://covers.openlibrary.org/b/id/469736-L.jpg
2,Rock and Roll Hall of Fame 1994,Rock and Roll Hall of Fame Foundation,1994,eng,"Rock and Roll Hall of Fame Foundation, History...",https://covers.openlibrary.org/b/id/9964834-L.jpg
3,The third annual Rock & Roll Hall of Fame indu...,Rock and Roll Hall of Fame Foundation,1988,eng,"Supremes (Musical group), Beatles, Rock and Ro...",https://covers.openlibrary.org/b/id/10018469-L...
4,Rock and Roll Hall of Fame 1990,Rock and Roll Hall of Fame Foundation,1990,eng,"Kinks (Musical group), Platters (Musical group...",https://covers.openlibrary.org/b/id/9531446-L.jpg

In [13]:
# Concating them into one dataframe
df_all = pd.concat([df_web, df_api], ignore_index=True, sort=False)

print("df_all:", df_all.shape)
df_all.head()

df_all: (1045, 6)

,title,author,published_year,language,subjects,cover
0,politics of literary prestige: prizes and span...,sarah e. l. bowskill,2022,english,"spanish american literature, awards, political...",https://openlibrary.org/images/icons/avatar_bo...
1,symposium städtebau revisited: preise - praxis...,christina simon-philipp,2022,german,"city planning, congresses, awards, german arch...",https://openlibrary.org/images/icons/avatar_bo...
2,ntaa 2022 - new technological art award 2022: ...,haseeb ahmed,2022,english,"art and technology, exhibitions, art, awards, ...",https://openlibrary.org/images/icons/avatar_bo...
3,"deutsche bank ""artists of the year"" 2021: maxw...",maxwell alexandre,2022,english,"modern art, exhibitions, art, awards, maxwell ...",https://openlibrary.org/images/icons/avatar_bo...
4,"maxxi bulgari prize 2022: alessandra ferrini, ...",giulia ferracci,2022,italian,"maxxi bulgari prize, exhibitions, art, awards,...",https://openlibrary.org/images/icons/avatar_bo...

## New DataFrame Cleaning

In [14]:
# Quick snapshot before cleaning
df_all.info()
df_all.isna().sum().sort_values(ascending=False)

<class 'pandas.DataFrame'>
RangeIndex: 1045 entries, 0 to 1044
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           1045 non-null   str
 1   author          1045 non-null   str
 2   published_year  1045 non-null   str
 3   language        1045 non-null   str
 4   subjects        1045 non-null   str
 5   cover           1045 non-null   str
dtypes: str(6)
memory usage: 49.1 KB

title             0
author            0
published_year    0
language          0
subjects          0
cover             0
dtype: int64

In [15]:
# Cleaning text columns
text_cols = ["title", "author", "language", "subjects", "cover"]

for col in text_cols:
    df_all[col] = (
        df_all[col]
        .astype("string")                         
        .str.replace("\u00A0", " ", regex=False)  # non-breaking space
        .str.replace("\n", " ", regex=False)
        .str.replace("\r", " ", regex=False)
        .str.strip()
    )

In [16]:
df_all["title"] = df_all["title"].str.lower()
df_all["author"] = df_all["author"].str.lower()
df_all["language"] = df_all["language"].str.lower()
df_all["subjects"] = df_all["subjects"].str.lower()

## Column Year Cleaning

In [17]:
# Cleanning published_year
df_all["published_year"] = (
    df_all["published_year"]
    .astype("string")
    .str.extract(r"(\d{4})", expand=False)
)

In [18]:
df_all["published_year"].value_counts().sort_index()

published_year
1617     1
1694     1
1728     1
1762     1
1772     1
        ..
2018    73
2019    70
2020    48
2021    36
2022    19
Name: count, Length: 110, dtype: Int64

In [19]:
#Showing the FULL table
pd.set_option("display.max_rows", None)

df_all["published_year"].value_counts().sort_index()

published_year
1617     1
1694     1
1728     1
1762     1
1772     1
1780     1
1790     1
1791     3
1792     2
1793     2
1794     1
1796     1
1798     6
1799     4
1801     1
1802     1
1803     1
1806     1
1818     1
1834     1
1855     1
1857     1
1867     1
1870     1
1875     1
1876     1
1881     1
1899     1
1900     1
1905     1
1907     2
1910     1
1911     2
1913     1
1916     1
1917     3
1918     2
1919     2
1921     1
1922     2
1924     2
1925     3
1926     1
1927     4
1928     4
1929     4
1930     1
1931     2
1932     2
1933     1
1934     1
1935     1
1943     1
1944     1
1949     3
1952     1
1956     1
1960     1
1965     1
1970     1
1971     2
1973     2
1974     3
1975     1
1977     1
1978     3
1979     1
1980     3
1981     2
1982     4
1983     6
1984     6
1985     8
1986     7
1987     9
1988     4
1989     8
1990    10
1991     8
1992    13
1993    20
1994    18
1995    13
1996    10
1997    14
1998    13
1999    15
2000    17
2001    19
2002    22
2003    22
2004    18
2005    22
2006    25
2007    28
2008    16
2009    10
2010    14
2011     4
2012     6
2013     3
2014    19
2015    97
2016    84
2017    74
2018    73
2019    70
2020    48
2021    36
2022    19
Name: count, dtype: Int64

In [20]:
df_all["published_year"] = (
    pd.to_numeric(df_all["published_year"], errors="coerce")
    .astype("Int64")
)

## Column language Cleaning

In [21]:
df_all["language"].value_counts().sort_index()

language
arabic                                 7
arabic,english                         1
armenian                               1
bulgarian                              1
chi                                    7
chinese                               15
chinese,english                        1
cmn, chi, eng                          1
danish                                 1
dut                                    1
dut, eng                               1
dutch                                  5
dutch,english                          1
eng                                  403
eng, chi                               1
eng, dut                               2
eng, dut, fre                          1
eng, fre                               1
eng, ger                               4
eng, ita                               1
eng, jpn                               1
eng, mul, ger                          2
eng, spa                               2
english                              160
english, french                        1
english,arabic                         1
english,chinese                        1
english,dutch                          2
english,dutch,french                   1
english,german                         5
fre                                   41
fre, eng                               1
fre, eng, ger, ita, por                1
french                                22
french,english                         3
ger                                   35
ger, eng                               3
ger, ita                               1
ger, mul, eng, fre                     1
german                               104
german,english                        11
german,english,icelandic               1
german,english,turkish                 1
german,french,italian,romansh          1
german,italian                         1
gujarati                               1
hebrew                                12
hungarian                              1
hungarian,italian                      1
indonesian                             1
ita                                    9
ita, eng                               1
ita, ger                               1
italian                               22
italian,english                        2
japanese                              15
japanese,english                       1
jpn                                    2
korean                                10
lat                                    1
modern greek                           1
mul                                    1
mul, ger, chi, eng                     1
multiple languages                     3
multiple languages,german,english      1
norwegian                              1
polish                                 7
polish,belarusian                      1
por                                    1
portuguese                            14
portuguese,english                     1
rajasthani                             1
romanian                               2
rus                                    3
russian                                7
russian,english                        1
serbian                                3
sinhala                                1
slovene                                1
spa                                   11
spanish                               29
spanish,english                        1
swedish                                7
tur                                    2
turkish                                2
ukrainian                              1
und                                    1
vietnamese                             1
Name: count, dtype: Int64

In [22]:
lang_map = {
    "eng": "english",
    "english": "english",

    "ger": "german",
    "german": "german",

    "fre": "french",
    "fra": "french",
    "french": "french",

    "spa": "spanish",
    "spanish": "spanish",

    "ita": "italian",
    "italian": "italian",

    "chi": "chinese",
    "cmn": "chinese",
    "chinese": "chinese",

    "jpn": "japanese",
    "japanese": "japanese",

    "dut": "dutch",
    "dutch": "dutch",

    "por": "portuguese",
    "portuguese": "portuguese",

    "rus": "russian",
    "russian": "russian",

    "tur": "turkish",
    "turkish": "turkish",

    "heb": "hebrew",
    "hebrew": "hebrew",

    "ara": "arabic",
    "arabic": "arabic",

    "pol": "polish",
    "polish": "polish",

    "swe": "swedish",
    "swedish": "swedish",

    "vie": "vietnamese",
    "vietnamese": "vietnamese",

    "und": "unknown",
    "mul": "multiple languages",
    "multiple languages": "multiple languages",

    "lat": "latin",
}

In [23]:
import pandas as pd

def normalize_language(x):
    if pd.isna(x) or str(x).strip() == "":
        return "unknown"

    x = str(x).lower().strip()

    # If the record explicitly says multiple languages, keep it
    if "multiple languages" in x:
        return "multiple languages"

    parts = [p.strip() for p in x.split(",")]
    parts = [lang_map.get(p, p) for p in parts]     # map codes to full names

    # remove duplicates while keeping order
    seen = set()
    cleaned = []
    for p in parts:
        if p and p not in seen:
            cleaned.append(p)
            seen.add(p)

    return ", ".join(cleaned)

In [24]:
df_all["language"] = df_all["language"].apply(normalize_language)

In [25]:
df_all["language"].value_counts().sort_index()

language
arabic                                            7
arabic, english                                   1
armenian                                          1
bulgarian                                         1
chinese                                          22
chinese, english                                  2
danish                                            1
dutch                                             6
dutch, english                                    2
english                                         563
english, arabic                                   1
english, chinese                                  2
english, dutch                                    4
english, dutch, french                            2
english, french                                   2
english, german                                   9
english, italian                                  1
english, japanese                                 1
english, multiple languages, german               2
english, spanish                                  2
french                                           63
french, english                                   4
french, english, german, italian, portuguese      1
german                                          139
german, english                                  14
german, english, icelandic                        1
german, english, turkish                          1
german, french, italian, romansh                  1
german, italian                                   2
german, multiple languages, english, french       1
gujarati                                          1
hebrew                                           12
hungarian                                         1
hungarian, italian                                1
indonesian                                        1
italian                                          31
italian, english                                  3
italian, german                                   1
japanese                                         17
japanese, english                                 1
korean                                           10
latin                                             1
modern greek                                      1
multiple languages                                5
multiple languages, german, chinese, english      1
norwegian                                         1
polish                                            7
polish, belarusian                                1
portuguese                                       15
portuguese, english                               1
rajasthani                                        1
romanian                                          2
russian                                          10
russian, english                                  1
serbian                                           3
sinhala                                           1
slovene                                           1
spanish                                          40
spanish, english                                  1
swedish                                           7
turkish                                           4
ukrainian                                         1
unknown                                           1
vietnamese                                        1
Name: count, dtype: int64

In [26]:
df_all["language"] = df_all["language"].astype("string")

In [27]:
pd.reset_option("display.max_rows")

In [28]:
df_all.info()

<class 'pandas.DataFrame'>
RangeIndex: 1045 entries, 0 to 1044
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           1045 non-null   string
 1   author          1045 non-null   string
 2   published_year  1045 non-null   Int64
 3   language        1045 non-null   string
 4   subjects        1045 non-null   string
 5   cover           1045 non-null   string
dtypes: Int64(1), string(5)
memory usage: 50.1 KB

In [29]:
df_all.isna().sum().sort_values(ascending=False)

title             0
author            0
published_year    0
language          0
subjects          0
cover             0
dtype: int64

In [30]:
df_all.head(15)

,title,author,published_year,language,subjects,cover
0,politics of literary prestige: prizes and span...,sarah e. l. bowskill,2022,english,"spanish american literature, awards, political...",https://openlibrary.org/images/icons/avatar_bo...
1,symposium städtebau revisited: preise - praxis...,christina simon-philipp,2022,german,"city planning, congresses, awards, german arch...",https://openlibrary.org/images/icons/avatar_bo...
2,ntaa 2022 - new technological art award 2022: ...,haseeb ahmed,2022,english,"art and technology, exhibitions, art, awards, ...",https://openlibrary.org/images/icons/avatar_bo...
3,"deutsche bank ""artists of the year"" 2021: maxw...",maxwell alexandre,2022,english,"modern art, exhibitions, art, awards, maxwell ...",https://openlibrary.org/images/icons/avatar_bo...
4,"maxxi bulgari prize 2022: alessandra ferrini, ...",giulia ferracci,2022,italian,"maxxi bulgari prize, exhibitions, art, awards,...",https://openlibrary.org/images/icons/avatar_bo...
5,premio combat 2022 prize,paolo batoni,2022,italian,"premio combat, exhibitions, modern art, italia...",https://openlibrary.org/images/icons/avatar_bo...
6,sustainable design 9: vers une nouvelle éthiqu...,marie-hélène contal,2022,french,"sustainable architecture, awards, history, glo...",https://openlibrary.org/images/icons/avatar_bo...
7,nueva arquitectura tradicional mmxxii: premios...,alejandro garcía hermida,2022,spanish,"vernacular architecture, architecture, awards,...",https://openlibrary.org/images/icons/avatar_bo...
8,in the shadow of trees,belgium) photobrussels festival (6th 202...,2022,french,"artistic photography, exhibitions, awards, pho...",https://openlibrary.org/images/icons/avatar_bo...
9,"manga, anime jushō sakuhin sōran",nichigai asoshiētsu,2022,japanese,"comic books, strips, bibliography, awards, ani...",https://openlibrary.org/images/icons/avatar_bo...
10,mchap the americas 2: territory and expeditions,florencia rodriguez,2022,english,"architecture, modern architecture, awards",https://openlibrary.org/images/icons/avatar_bo...
11,cyberarts 2021: international compendium prix ...,markus jandl,2022,english,"computer art, awards, computer animation, prix...",https://covers.openlibrary.org/b/id/13794706-M...
12,architecture china 2020 building with nature j...,l. xiangning,2022,english,"architecture, awards, sustainable architecture...",https://openlibrary.org/images/icons/avatar_bo...
13,janet cardiff und george bures miller: wilhelm...,"roland wetzel, söke dinkla",2022,german,"exhibitions, multimedia installations (art), a...",https://openlibrary.org/images/icons/avatar_bo...
14,qspa 10: the queen sonja print award,alf van der hagen,2022,english,"prints, awards, queen sonja print award",https://openlibrary.org/images/icons/avatar_bo...

In [31]:
#last quick check
df_all.duplicated().sum()

np.int64(0)

In [32]:
df_all.duplicated(subset=["title", "author", "published_year"]).sum()

np.int64(7)

In [33]:
duplicates = df_all[df_all.duplicated(
    subset=["title", "author", "published_year"],
    keep=False
)].sort_values(["title", "author", "published_year"])
duplicates

,title,author,published_year,language,subjects,cover
486,best highrises 2014/15,"peter körner, peter cachola schmal, corinne el...",2014,german,"awards, skyscrapers",https://covers.openlibrary.org/b/id/13867876-M...
649,best highrises 2014/15,"peter körner, peter cachola schmal, corinne el...",2014,german,"awards, skyscrapers",https://covers.openlibrary.org/b/id/13867876-L...
264,häuser des jahres,peter cachola schmal,2017,german,"haus des jahres (award), catalogs, domestic ar...",https://covers.openlibrary.org/b/id/14181793-M...
687,häuser des jahres,peter cachola schmal,2017,german,"haus des jahres (award), catalogs, domestic ar...",https://covers.openlibrary.org/b/id/14181793-L...
440,la coupe stanley décodée,marc couture,2015,french,"hockey, juvenile fiction, awards, romans, nouv...",https://covers.openlibrary.org/b/id/12637469-M...
721,la coupe stanley décodée,marc couture,2015,french,"hockey, juvenile fiction, awards, romans, nouv...",https://covers.openlibrary.org/b/id/12637469-L...
439,"the best american newspaper narratives, volume...",george getschow,2015,english,"american reportage literature, feature stories...",https://covers.openlibrary.org/b/id/12800691-M...
719,"the best american newspaper narratives, volume...",george getschow,2015,english,"american reportage literature, feature stories...",https://covers.openlibrary.org/b/id/12800691-L...
407,"the coretta scott king awards, 1970-2014",carole j. mccollough,2015,english,"coretta scott king award, american literature,...",https://covers.openlibrary.org/b/id/12720932-M...
657,"the coretta scott king awards, 1970-2014",carole j. mccollough,2015,english,"coretta scott king award, american literature,...",https://covers.openlibrary.org/b/id/12720932-L...
451,the school the aztec eagles built,dorinda makanaōnalani stagner nicholson,2015,english,"design and construction, campaigns, airmen, aw...",https://covers.openlibrary.org/b/id/10580874-M...
776,the school the aztec eagles built,dorinda makanaōnalani stagner nicholson,2015,english,"design and construction, campaigns, airmen, aw...",https://covers.openlibrary.org/b/id/10580874-L...
470,young belgian art prize,"edwin carels, gerard de viet",2015,"english, dutch, french","belgian art, exhibitions, awards, kunst, kunst...",https://covers.openlibrary.org/b/id/10825449-M...
1008,young belgian art prize,"edwin carels, gerard de viet",2015,"english, dutch, french","belgian art, exhibitions, awards, kunst, kunst...",https://covers.openlibrary.org/b/id/10825449-L...

In [34]:
df_all = df_all.drop_duplicates(
    subset=["title", "author", "published_year"],
    keep="first"
)

In [35]:
df_all.duplicated(subset=["title", "author", "published_year"]).sum()

np.int64(0)

In [36]:
df_all.info()

<class 'pandas.DataFrame'>
Index: 1038 entries, 0 to 1044
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           1038 non-null   string
 1   author          1038 non-null   string
 2   published_year  1038 non-null   Int64
 3   language        1038 non-null   string
 4   subjects        1038 non-null   string
 5   cover           1038 non-null   string
dtypes: Int64(1), string(5)
memory usage: 57.8 KB

In [37]:
df_all = df_all.sort_values(
    by=["published_year", "title"],
    ascending=[False, True]
)
df_all.head()

,title,author,published_year,language,subjects,cover
15,21st century houses: riba award-winning homes,dominic bradbury,2022,english,"domestic architecture, architecture, awards, m...",https://openlibrary.org/images/icons/avatar_bo...
12,architecture china 2020 building with nature j...,l. xiangning,2022,english,"architecture, awards, sustainable architecture...",https://openlibrary.org/images/icons/avatar_bo...
11,cyberarts 2021: international compendium prix ...,markus jandl,2022,english,"computer art, awards, computer animation, prix...",https://covers.openlibrary.org/b/id/13794706-M...
3,"deutsche bank ""artists of the year"" 2021: maxw...",maxwell alexandre,2022,english,"modern art, exhibitions, art, awards, maxwell ...",https://openlibrary.org/images/icons/avatar_bo...
8,in the shadow of trees,belgium) photobrussels festival (6th 202...,2022,french,"artistic photography, exhibitions, awards, pho...",https://openlibrary.org/images/icons/avatar_bo...

In [38]:
df_all = df_all.reset_index(drop=True)

In [39]:
df_all.to_csv("data/clean/books_merged_clean.csv", index=False)